API_KEY=
PORT=
PROXY_URL=
PLATFORM_API_URL=<YOUR_MRSCRAPER_APP_TUNNEL>
PLATFORM_WEBHOOK_SECRET=
BROWSER_WS_TTL=900
BROWSER_WS_CONCURRENCY=5
BROWSER_WS_ENDPOINT=<PLEASE_PREPARE_YOUR_OWN_BROWSER_WS_ENDPOINT>
BROWSER_WEIGHT=3
CHROME_PATH=/snap/bin/chromium
BRAVE_PATH=/snap/bin/brave
OPERA_PATH=/snap/bin/opera
FINGERPRINT_PATH=
CHROME_WEIGHT=30
OPERA_WEIGHT=30
BRAVE_WEIGHT=40
ONLY_CHROME=false
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_REGION=
SQLITE_URL=
MYSQL_URL=
PSQL_URL=
THIRD_PARTY_API=
THIRD_PARTY_TOKEN=
FINGERPRINT_PATH=
DATA_MODE=
API_URL=
RMQ_HOSTNAME=
RMQ_PORT=
RMQ_USERNAME=
RMQ_PASSWORD=
SOLUTION_ID=3
